footer
  .footer_wrapper.row_1
      a(href='https://www.bancorpretail.com/') 
        img.resban(src=graphics.data[9].url alt=graphics.data[9].alt)
      a(href='https://www.instagram.com/gascohomeloans/')
        img.social_link(src=graphics.data[11].url alt=graphics.data[11].alt)
      a(href='https://www.facebook.com/GASCOMORTGAGE/')
        img.social_link(src=graphics.data[12].url alt=graphics.data[12].alt)
  .footer_wrapper 
    p 
      a(href='https://www.bancorpretail.com/thegascoteam/') The Greg Gasco Team © 2021
    p Greg A. Gasco NMLS #277829 | Corporate NMLS ID #210853 | Branch NMLS #1696551 
    p Designed by 
      a(href='https://www.distinctcreativegroup.com') Distinct Creative Group 