nav.navigation 
  .navigation_wrapper  

    ul.navigation_list 
      li.navigation_list_item
        a.navigation_list_link(href=Link('#')) Why Gasco?
      li.navigation_list_item
        a.navigation_list_link(href=Link('#')) Services
      li.navigation_list_item
        a.navigation_list_link(href=Link('#')) Meet the Team
      li.navigation_list_item
        a.navigation_list_link(href=Link('#')) Media
      li.navigation_list_item
        a.navigation_list_link(href=Link('#')) Apply

    a(href="#")
      img(src="")


    