block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    base(href="/")
    
    //- Global site tag (gtag.js) - Google Analytics
    script(async='', src="https://www.googletagmanager.com/gtag/js?id=G-6ZE0SGLFYF");
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6ZE0SGLFYF');

    title=meta.data.title
    meta(name="description" content=meta.data.description)

    //- favicon
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="site.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#fbf7ec")
    meta(name="msapplication-TileColor" content="#fbf7ec")
    meta(name="theme-color" content="#fbf7ec")

    meta(property="og:type" content="website")
    meta(property="og:title" content=meta.data.title)
    meta(property="og:description" content=meta.data.description)
    meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=meta.data.title)
    meta(name="twitter:description" content=meta.data.description)
    meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')
    link(rel="preconnect" href="https:fonts.gstatic.com")
    //- Add the slick-theme.css if you want default styling
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    //- Add the slick-theme.css if you want default styling
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")

    style
      include ../public/main.css

  body#body
    include ./partials/preloader
    include ./partials/navigation
    
    .content#content(data-template=template)
      block content

    include ./partials/footer
    include animations

    script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
    script.
      $(document).ready(function(){
        $('.carousel').slick({
          dots: true,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear'
        });
      });
