extends ../base.pug

block variables 
  - var template = 'about'

block content 
  .about
    .about_wrapper
      .section.about_banner(style='background-image: url(' + photos.data[8].url + ')' alt=photos.data[8].alt)
        h2 Working creatively...
        h2 to get you approved. 
      .section.video
        .video_wrapper
      .section.team
        h4 This will display the team with blurbs or contact info, etc. 
        //- each member in staff
        //- figure with caption
      .section.maps
        h2 Gasco Team Locations:
        .maps_wrapper
          .map
            a(href="https://bit.ly/3y8YbVB") 
              h1 Fresno Office 
              img(src=photos.data[11].url alt=photos.data[11].url)
          .map
            a(href="https://bit.ly/3sFOP2v")
              h1 Porterville Office
              img(src=photos.data[12].url alt=photos.data[12].url)
      .section.bg-blue
        a(href="https://pro.bancorp.com/dr/c/com8o")
          .details_section_text
            h2.text_midblue Ready?
            p Our <strong>MOBILE APP</strong> can kickstart your pre-approval process in just a few minutes.
            button Get Approved
          #clip_container
            #home_details(style='background-image:url(' + photos.data[7].url +')' alt=photos.data[7].alt)






