extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home 
    .home_wrapper 
      .section.section_1
        .section_text   
          h1 Approval is within your grasp.
          button Become a Client 
        img.lrg_right
      .section.section_2
        img.lrg_left
        .section_text 
          h3 Why us?  
          h1 Dont worry.
          h1 We've got your back.
          h4 Where banks and lenders fail,
          h2 We get you qualified.
          p How? We use every possible strategy and aggressively work to ensure you get into your new home as fast as possible! 
      .section.section_3
        .section_text   
          h1 lorem
          h2 lorem
          p lorem
        img.lrg_right

    //-     each collection, index in collections 
    //-       .collections_title_label=`${home.data.collection} ${Numbers(index)}`
    //-       .collections_titles_title=collection.data.title 

    //-   .home_gallery 
    //-     each media in home.data.gallery 
    //-       figure.home_gallery_media 
    //-         img.home_gallery_media_image(alt=media.image.alt src=media.image.url)

    //- a(href=Link(home.data.collections))=home.data.button
    