extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home 
    .home_wrapper 
      .section#section_1
        .section_text 
          div
            h1 Approval 
            h2 is&nbsp;within&nbsp;your&nbsp;grasp
          button Become a Client 
        img(src=photos.data[1].url alt=photos.data[1].alt)
      .section#section_2
        .image(style='background-image:url(' + photos.data[2].url + ')' alt=photos.data[2].alt)
          img(src=graphics.data[2].url alt=graphics.data[2].alt)
        .section_text 
          div
            h3 Why us?  
            h1.blurry Dont worry.
            h1.blurry We've got your back.
          div
            h4 Where banks and lenders fail,
            h2.blurry We get you qualified.
          div
            p How?
            p We use every possible strategy and aggressively work to ensure you get into your new home as fast as possible!
      .section#section_3
        .section_text.section_dark 
          div  
            h1.blurry Buying a home <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;should be fun.
          div
            h4 Don't let the process get in the way.
            h2.blurry We'll handle the hard parts.
          div
            p RELAX.
            br
            p Buying a home is something to celebrate, not to stress over.
          div
            h5.blurry The keys to your new home are waiting.
            hr
            h5.blurry The Gasco Team is here to make the home-buying experience smooth and simple.
            hr
            h5 Don't sit around dreaming, get the process moving.
          button.dark Become a Client
        .image(style='background-image:url(' + photos.data[3].url + ')' alt=photos.data[3].alt)
      .section#services
        .image(style='background-image:url(' + photos.data[4].url + ')' alt=photos.data[4].alt)
          img(src=graphics.data[3].url alt=graphics.data[3].alt)
        .section_text 
          div 
            <br>
            h1.blurry Our Services 
            <br>
          div
            h6 Our experienced team is happy to help you out.
            <h4>ANY BUYER.</h4>
            <h4>ANY HOME.</h4>
            <br>
          div.services_list
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.blurry Service 
              p.blurry Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolore sint ex quod optio quae reprehenderit cumque! Doloribus optio, voluptas eligendi qui, consequatur illum a dolorem esse provident tempore quo.
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.blurry Service 
              p.blurry Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis itaque magnam maxime praesentium. Natus rerum animi provident delectus impedit? Vitae est facilis atque saepe qui natus, ducimus nostrum exercitationem!
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.blurry Service 
              p.blurry Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolore sint ex quod optio quae reprehenderit cumque! Doloribus optio, voluptas eligendi qui, consequatur illum a dolorem esse provident tempore quo.
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt) 
              h6 The list goes on... 
          button Learn More 
      a(href="https://pro.bancorp.com/dr/c/com8o")
        .section#clip_container
          #home_details(style='background-image:url(' + photos.data[6].url +')' alt=photos.data[6].alt)
        .details_section_text
          h2 What are you waiting for?
          p Our mobile app can kickstart your pre-approval process in just a few minutes.
          button Get Approved

    