extends ../base.pug

block variables 
  - var template = 'home'

block content 
  .home 
    .home_wrapper 
      .section#section_1(style='background-image:url(' + photos.data[1].url + ')' alt=photos.data[1].alt)
        .section_text 
          button(href='#form' onclick="div_show()") Become a Client
          div
            h1.text_white Approval
            h2.text_white is&nbsp;within&nbsp;your&nbsp;grasp
      .section#why_gasco
        .image(style='background-image:url(' + photos.data[9].url + ')' alt=photos.data[9].alt)
          img
        .section_text 
          div
            h3 Why us?  
            h1 RELAX.
            h1 We've got your back.
          div
            h4 Where banks and lenders fail,
            h2 We get you qualified.
          div
            p How?
            p We use every possible strategy and aggressively work to ensure you get into your new home as fast as possible!
          div.cta
            h2 CANT WAIT?
            button
              a(href="tel:+1-833-427-2644") +1-833-GASCOGG
      .section#section_3
        .section_text.section_dark 
          div  
            h1 Buying a home <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;should be fun.
          div
            h4 Don't let the process get in the way.
            hr
            h2.text_light We'll handle the hard parts.
          div.no_mobile
            p Don't worry.
            br
            p Buying a home is something to celebrate, not to stress over.
          div
            h4 The keys to your new home are waiting.
            br
            h5.text_white The Gasco Team is here to make the home-buying experience smooth and simple.
            br
            h4#services Don't sit around dreaming, get the process moving.
          button.dark(href='#form' onclick="div_show()") Become a Client
        .image(style='background-image:url(' + photos.data[3].url + ')' alt=photos.data[3].alt)
      .section.services
        .image(style='background-image:url(' + photos.data[2].url + ')' alt=photos.data[2].alt)
          img(src=graphics.data[3].url alt=graphics.data[3].alt)
        .section_text 
          div 
            h1 Our Services 
            hr
            h4 Our experienced team is happy to help you out.
            h5 Any buyer. Any home.
          div.services_list
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.text_dark In-House Appraisals 
              p Our dedicated in-house appraisal department help expedite your loan transactions with experienced appraisers you can trust.
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.text_dark E-Disclosures
              p Don't let our competitors leave you waiting for days to finalize. Resban and the Gasco Team can provide an E-Disclosure option, greatly minimizing waiting periods and getting you approved faster.
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt)
              h5.text_dark No Overlays 
              p Have decent credit? We can provide ZERO overlays for qualifying home-buyers.Elliminating investor overlays will get you a better deal and give our team the final decision on your loan approval.
            div(style='background-image:url(' + graphics.data[7].url + ')' alt=graphics.data[7].alt) 
              h6 The list goes on... 
              button Learn More 
      .section.bg_blue
        a(href="https://pro.bancorp.com/dr/c/com8o")
          .details_section_text
            h2.text_midblue Ready?
            p Our <strong>MOBILE APP</strong> can kickstart your pre-approval process in just a few minutes.
            button Get Approved
          #clip_container
            #home_details(style='background-image:url(' + photos.data[7].url +')' alt=photos.data[7].alt)
          



    